@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button, input {
  border: none;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav-functional,
.header__nav-functional-lang,
.header__nav-ul, .reg, .reg__info-scroll, .review__main-card-info, .review__main-card-info-user, .sale, .questions__main-card-top, .feedback__info-bottom, footer {
  align-items: center;
  display: flex;
}

header {
  background-color: #FFF;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  margin-top: 24px;
}

.header__nav {
  align-items: center;
  height: 80px;
}

.header__nav-name {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
  padding-right: 200px;
}

.header__nav-ul {
  gap: 24px;
}

.header__nav-ul a {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  transition: 0.5s;
}

.header__nav-ul a:hover {
  text-decoration: underline;
}

.header__nav-functional-lang {
  gap: 2px;
}

.header__nav-functional-lang :hover {
  cursor: pointer;
}

.header__nav-functional {
  gap: 16px;
}

.header__nav-functional-lang-accentp {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
}

.header__nav-functional-lang-bgp {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.header__nav-functional-button {
  border-radius: 16px;
  background: #4754EB;
  height: 48px;
  max-width: 220px;
  padding: 12px 24px;
  transition: 0.3s;
}

.header__nav-functional-button p {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
}

.header__nav-functional-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header__nav-hidden {
  display: none;
}

@media screen and (max-width: 400px) {
  .header__nav-hidden {
    display: block;
  }
  .header__nav-ul {
    display: none;
  }
  .header__nav-functional-lang {
    display: none;
  }
  .header__nav-name {
    color: #4754EB;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: none;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: none;
  }
  .header__nav-functional-button {
    display: none;
  }
  .header__nav {
    height: 64px;
    padding: 0 20px;
    justify-content: space-between;
  }
  .header__nav-name {
    padding-right: 141px;
  }
}

.reg {
  background: white;
  background: linear-gradient(225deg, white 41%, #f0f1fd 63%, #9aa1f4 96%, #7680f0 99%, #9aa1f4 100%, #4754eb 100%);
  height: 720px;
  gap: 24px;
  padding-left: 56px;
}

.reg__info {
  max-width: 628px;
  height: 520px;
}

.reg__info-h2 {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-style: none;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: none;
  margin-bottom: 40px;
}

.reg__info-email {
  width: 465px;
  height: 64px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.reg__info-email-input {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  max-width: 314px;
  height: 64px;
  border-radius: 16px;
  padding-left: 16px;
  opacity: 0.7;
}

.reg__info-email-input ::placeholder {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.reg__info-email-button {
  border-radius: 16px;
  background-color: #FFF;
  padding: 12px 24px;
  margin-left: 120px;
}

.reg__info-email-button p {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
}

.reg__info-email-button:hover {
  cursor: pointer;
}

.reg__info-personal {
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 126px;
}

.reg__info-personal-secondary {
  color: #595959;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.reg__info-personal-accent {
  color: #505DEC;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.reg__info-personal-accent :hover {
  cursor: pointer;
}

.reg__info-scroll {
  max-width: 170px;
  gap: 8px;
  animation-name: reg-scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.reg__info-scroll p {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  margin-top: 6px;
}

.reg__info-scroll:hover {
  cursor: pointer;
}

@keyframes reg-scroll {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(50px);
  }
  66% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 400px) {
  .reg {
    flex-direction: column;
    padding-left: 0;
  }
  .reg img {
    width: 355px;
    height: 400px;
  }
  .reg__info-h2 {
    width: 320px;
    color: #1A1A1A;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-style: none;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: none;
    margin: auto;
    margin-top: 40px;
  }
  .reg__img {
    max-width: 608px;
    height: 492px;
  }
  .reg__info-scroll {
    display: none;
  }
  .reg__info {
    max-width: 359px;
    height: 350px;
  }
  .reg__info-email {
    width: 320px;
    height: 56px;
    margin-top: 40px;
  }
  .reg__info-email-input {
    height: 56px;
    max-width: 170px;
  }
  .reg__info-email-input ::placeholder {
    padding-top: 18px;
  }
  .reg__info-email-button {
    padding: 10.5px 24px;
    margin-left: 0;
  }
  .reg__info-personal {
    margin-bottom: 0;
  }
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
  background-color: #FFF;
}

.benefits__main {
  display: grid;
  grid-template-columns: 437.3px 437.3px 437.3px;
  grid-template-rows: 40px 240px;
  column-gap: 16px;
  row-gap: 40px;
}

.benefits__main-title {
  grid-column: 1/-1;
  margin-left: 32px;
}

.benefits__main-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(25, 25, 25, 0.05);
  backdrop-filter: blur(12px);
  transition: 0.5s;
}

.benefits__main-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 1px solid #586ad4;
}

.benefits__main-card-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 80px 12px 16px;
}

.benefits__main-card-title img {
  width: 56px;
}

.benefits__main-card-title-p {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: none;
}

.benefits__main-card-secondary-p {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  margin: 0 24px;
}

@media screen and (max-width: 400px) {
  .benefits {
    width: 359px;
    height: 668px;
  }
  .benefits__main {
    grid-template-columns: 343px;
    grid-template-rows: 23px 168px 168px 168px;
    row-gap: 16px;
  }
  .benefits__main-title h3 {
    color: #1A1A1A;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: none;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: none;
    padding-bottom: 13px;
  }
  .benefits__main-card-title {
    padding-right: 60px;
  }
  .benefits__main-card-title img {
    width: 36px;
  }
  .benefits__main-card-title p {
    color: #1A1A1A;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: none;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: none;
  }
  .benefits__main-card-secondary-p {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .benefits__main-card {
    gap: 12px;
  }
}

.process {
  height: 800px;
  background: #f8f9fe;
  background: linear-gradient(35deg, #f8f9fe 68%, #dcdffb 71%, #d4d7fa 75%, #b7bcf7 80%, #9ba2f4 83%, #9ba2f4 85%, #9ba2f4 88%, #858df2 90%, #6e78ef 92%, #5c68ed 94%, #5c62e9 96%, #5c49d7 98%, #8633b0 100%);
  padding-top: 80px;
}

.process__title {
  margin-left: 56px;
}

.process__main {
  max-width: 1280px;
  display: flex;
  margin: 40px auto 0;
  gap: 23.97px;
}

.process__main-info {
  padding-top: 27px;
}

.process__main-info-top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.process__main-info-top-accent {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
}

.process__main-info-top-line {
  width: 24px;
  height: 1px;
  background-color: #FFF;
}

.process__main-info-top-secondary {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.process__main-info-title {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: none;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: none;
}

.process__main-info-subtitle {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
  margin-top: 16px;
  margin-bottom: 24px;
}

.process__main-info-secondary {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  max-width: 463px;
}

.process__main-info-secondary-btm {
  margin-top: 16px;
  margin-bottom: 71px;
}

.process__main-info-btn {
  border-radius: 16px;
  background: var(--Color-Blue, #4754EB);
  height: 56px;
  padding: 12px 24px;
  transition: 0.3s;
}

.process__main-info-btn p {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
}

.process__main-info-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .process {
    height: 864px;
    padding-top: 39px;
    background: white;
    background: linear-gradient(86deg, white 11%, #e8d8f0 68%, #e2ceec 88%, #d4b6e3 92%, #bc8dd3 96%, #af77ca 99%, #8633b0 100%);
  }
  .process .title {
    color: #1A1A1A;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: none;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: none;
    margin-left: 20px;
  }
  .process__main-img img {
    width: 343px;
    height: 330px;
  }
  .process__main {
    flex-direction: column;
    gap: 5px;
  }
  .process__main-info {
    margin: auto;
    margin-top: 0;
    padding-top: 10px;
  }
  .process__main-info-top {
    gap: 8px;
  }
  .process__main-info-top-accent {
    font-size: 14px;
  }
  .process__main-info-top-secondary {
    font-size: 14px;
  }
  .process__main-info-top-line {
    width: 16px;
  }
  .process__main-info-title {
    line-height: 125%;
    font-size: 26px;
    width: 290px;
  }
  .process__main-info-subtitle {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .process__main-info-secondary {
    font-size: 14px;
    width: 320px;
  }
  .process__main-info-secondary-btm {
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .process__main-info-btn {
    height: 48px;
    padding: 10.5px 24px;
    width: 322px;
    margin-top: 20px;
  }
  .process__main-info-btn p {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: none;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: none;
  }
}

.price {
  padding: 80px 23px 161px 24px;
  background-color: #FFF;
}

.price .title {
  margin-left: 32px;
}

.price__main {
  max-width: 1344px;
  height: 552px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 40px;
}

.price__main-card {
  max-width: 318px;
  border-radius: 16px;
  height: 660px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(25, 25, 25, 0.05);
  backdrop-filter: blur(12px);
}

.price__main-card-top {
  padding: 20px 0 0 24px;
  margin-bottom: 28px;
  display: block;
}

.price__main-card-top-name {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: none;
  margin-bottom: 8px;
}

.price__main-card-top-price-accent {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: none;
}

.price__main-card-top-price-secondary {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: none;
}

.price__main-card-benefit-img-cancel {
  margin-left: 24px;
  margin-right: 12px;
}

.price__main-card-benefit-plus {
  margin-left: 15px;
}

.price__main-card-top-price {
  max-width: 203px;
  display: flex;
  gap: 4px;
}

.price__main-card-benefit {
  display: flex;
  max-width: 280px;
}

.price__main-card-benefit-img {
  max-width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__main-card-benefit-img svg {
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(25, 25, 25, 0.05);
  backdrop-filter: blur(12px);
}

.price__main-card-benefit-secondary {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  max-width: 224px;
}

.price__main-card-button {
  border-radius: 16px;
  max-width: 270px;
  height: 56px;
  padding: 12px 24px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(25, 25, 25, 0.05);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

.price__main-card-button p {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: none;
}

.price__main-card-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 1px solid #4444b1;
}

@media screen and (max-width: 400px) {
  .price {
    height: 1943px;
    padding: 40px 19px 40px 20px;
  }
  .price .title {
    font-size: 18px;
    margin-left: 0;
  }
  .price__main {
    gap: 16px;
  }
  .price__main-card {
    width: 320px;
    height: 438px;
  }
  .price__main-card-top {
    padding: 15px 132px 15px 16px;
  }
  .price__main-card-top p {
    font-size: 18px;
  }
  .price__main-card-benefit-img-cancel {
    margin-right: 19px;
  }
  .price__main-card-benefit-plus {
    margin-left: 15px;
    gap: 8px;
  }
  .price__main-card-benefit-secondary {
    font-size: 13px;
    width: 228px;
  }
  .price__main-card-button {
    width: 288px;
    height: 48px;
    padding: 10.5px 24px;
  }
  .price__main-card-button p {
    font-size: 14px;
  }
}

.review {
  height: 800px;
  background: white;
  background: linear-gradient(105deg, white 78%, white 83%, #eadbf1 87%, #bf93d5 91%, #ba8bd2 93%, #b17bcc 95%, #9f5cc0 98%, #4754eb 100%);
  padding: 80px 0 0 56px;
}

.review__main {
  max-width: 1281px;
  height: 560px;
  position: relative;
  margin-top: 40px;
}

.review__main-card {
  max-width: 628px;
  height: 270px;
  border-radius: 16px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -2px 4px 20px 0px rgba(25, 25, 25, 0.03);
  backdrop-filter: blur(120px);
  transition: 0.3s;
}

.review__main-card:hover {
  transform: scale(1.1);
  z-index: 6;
}

.review__main-card-info {
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
}

.review__main-card-info-user-avatar {
  max-width: 64px;
  height: 64px;
  border-radius: 50%;
}

.review__main-card-info-user-name {
  margin-left: 16px;
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: none;
}

.review__main-card-info-date {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.review__main-card-content {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.review__main-card-content-review {
  max-width: 580px;
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.review__main-btn {
  height: 56px;
  padding: 12px 24px;
  border-radius: 16px;
  background: #FFF;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}

.review__main-btn p {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
}

.review__main-btn:hover {
  border: 1px solid skyblue;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 30px;
}

.review__main-card-semen {
  left: 326px;
  z-index: 4;
}

.review__main-card-inok {
  bottom: 128px;
  right: 0;
  z-index: 3;
}

.review__main-card-serega {
  bottom: 0;
  left: 164px;
  z-index: 2;
}

.review__main-card-olezh {
  top: 56px;
  z-index: 1;
}

@media screen and (max-width: 400px) {
  .review {
    padding-top: 40px;
    padding-left: 0;
    height: 1115px;
    background: white;
    background: linear-gradient(86deg, white 11%, #947ccc 79%, #856ac5 89%, #7556bd 96%, #6e4dba 98%, #5833b0 100%);
  }
  .review .title {
    font-size: 18px;
    margin-left: 20PX;
  }
  .review__main {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .review__main-card {
    position: static;
    margin: 0 8px;
    background-color: #FFF;
  }
  .review__main-card-info {
    padding: 12px 16px;
    gap: 78px;
  }
  .review__main-card-info img {
    width: 48px;
    height: 48px;
  }
  .review__main-card-info-user-name {
    margin-left: 16px;
    line-height: 125%;
    font-size: 18px;
  }
  .review__main-card-info-date {
    font-size: 14px;
  }
  .review__main-card-content-review {
    width: 295px;
    font-size: 14px;
  }
  .review__main-card-content-stars svg {
    width: 16px;
    height: 16px;
  }
  .review__main-btn {
    display: none;
  }
}

.sale {
  max-width: 1393px;
  height: 640px;
  background-color: #FFF;
  gap: 100px;
}

.sale__img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 628px;
  height: 640px;
  margin-left: 56px;
}

.sale__img img {
  max-width: 530px;
  height: 440px;
  animation-name: sales;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sales {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.sale__info {
  max-width: 628px;
  height: 362px;
}

.sale__info-title {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-style: none;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: none;
}

.sale__info-email {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: var(--background, #F2F2F2);
  max-width: 465px;
  height: 64px;
  margin: 40px 0 16px 0;
}

.sale__info-email input {
  height: 64px;
  max-width: 314px;
  border-radius: 16px;
  background: var(--background, #F2F2F2);
  padding-left: 16px;
  outline: none;
}

.sale__info-email input ::placeholder {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.sale__info-email-btn {
  padding: 12px 24px;
  border-radius: 16px;
  background: var(--Color-Blue, #4754EB);
  transition: 0.3s;
  margin-left: 120px;
}

.sale__info-email-btn p {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: none;
}

.sale__info-email-btn:hover {
  cursor: pointer;
}

.sale__info-discription {
  color: #595959;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  max-width: 354px;
}

.sale__info-discription span {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

@media screen and (max-width: 400px) {
  .sale {
    height: 730px;
    flex-direction: column;
    gap: 0;
  }
  .sale__img {
    width: 356.542px;
    height: 363.355px;
    margin-left: 0;
    margin-top: 40px;
  }
  .sale__img img {
    width: 356.542px;
    height: 280.355px;
    margin-left: 0;
  }
  @keyframes sales {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .sale__info {
    max-width: 320px;
    height: 279px;
  }
  .sale__info-title {
    font-size: 36px;
  }
  .sale__info-email {
    width: 320px;
    height: 56px;
  }
  .sale__info-email input {
    height: 56px;
    max-width: 160px;
  }
  .sale__info-email input ::placeholder {
    font-size: 14px;
  }
  .sale__info-email-btn {
    padding: 10.5px 24px;
    margin-left: 30px;
  }
  .sale__info-email-btn p {
    font-size: 14px;
  }
}

.questions {
  height: 784px;
  padding-top: 80px;
  background: #4754eb;
  background: linear-gradient(52deg, #4754eb 0%, #7f87f1 2%, #acb1f6 6%, #dadcfb 10%, #f2f3fe 18%, white 28%, white 79%, #e8d8f0 84%, #e2ceec 88%, #d4b6e3 92%, #bc8dd3 96%, #af77ca 99%, #8633b0 100%);
}

.questions__main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 25px;
}

.questions__main-card {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -2px 4px 20px 0px rgba(25, 25, 25, 0.03);
  backdrop-filter: blur(120px);
  max-width: 1344px;
}

.questions__title {
  margin-left: 56px;
  margin-bottom: 40px;
}

.questions__main-card-top {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  justify-content: space-between;
  max-width: 1344px;
  padding: 24px 32px;
}

.questions__main-card-top svg {
  max-width: 48px;
  height: 48px;
  fill: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  stroke: #FFF;
  filter: drop-shadow(-2px 4px 20px rgba(25, 25, 25, 0.03));
  transition: 0.3s;
}

.questions__main svg:hover {
  cursor: pointer;
  transform: rotate(45deg);
}

.questions__main-card-bottom {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  padding: 16px 48px 24px 24px;
}

@media screen and (max-width: 400px) {
  .questions {
    height: 741px;
    padding-top: 40px;
  }
  .questions .title {
    font-size: 18px;
    margin-left: 20px;
  }
  .questions__main {
    margin: 0 8px;
  }
  .questions__main-card-top {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 24px 16px 23px 16px;
  }
  .questions__main-card-top .title {
    font-size: 26px;
  }
  .questions__main-card-top svg {
    width: 32px;
    height: 32px;
  }
  .questions__main-card-bottom {
    font-size: 14px;
    padding: 16px 24px;
  }
}

.feedback {
  height: 728px;
  background-color: #FFF;
  display: flex;
}

.feedback__info {
  display: flex;
  flex-direction: column;
  max-width: 465px;
  gap: 16px;
  margin: 80px 0 0 56px;
}

.feedback__info-secondary {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  margin-bottom: 8px;
}

.feedback__info-wishes {
  max-width: 465px;
  height: 80px;
  padding: 16px 16px 40px 16px;
  border-radius: 16px;
  background: var(--background, #F2F2F2);
  outline: none;
  margin-bottom: 24px;
}

.feedback__info-wishes ::placeholder {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  width: 433px;
}

.feedback__info-bottom {
  gap: 24px;
}

.feedback__info-bottom-button {
  padding: 12px 24px;
  border-radius: 16px;
  background: var(--Color-Blue, #4754EB);
  transition: 0.3s;
}

.feedback__info-bottom-button p {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.feedback__info-bottom-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.feedback__info-bottom-info {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  max-width: 238px;
}

.feedback__info-bottom-info span {
  color: #4754EB;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.feedback__img {
  margin-left: 140px;
}

.feedback__img img {
  max-width: 534.665px;
  height: 625.996px;
  animation-name: feedback;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes feedback {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

.feedback__info-input {
  border-radius: 16px;
  background: var(--background, #F2F2F2);
  max-width: 465px;
  height: 56px;
  padding: 16px;
  outline: none;
}

.feedback__info-input ::placeholder {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  width: 433px;
}

@media screen and (max-width: 400px) {
  .feedback {
    height: 655px;
  }
  .feedback__img {
    display: none;
  }
  .feedback__info-title {
    font-size: 26px;
  }
  .feedback__info {
    width: 320px;
    margin: 40px 0 0 20px;
  }
  .feedback__info-secondary {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .feedback__info-input {
    width: 320px;
    padding: 15px 16px 11px 16px;
  }
  .feedback__info-input ::placeholder {
    font-size: 14px;
    width: 288px;
  }
  .feedback__info-bottom {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .feedback__info-bottom-button {
    height: 48px;
    padding: 10.5px 24px;
  }
  .feedback__info-bottom-button p {
    font-size: 14px;
  }
  .feedback__info-bottom-info {
    max-width: 320px;
    font-size: 13px;
  }
  .feedback__info-bottom-info span {
    font-size: 13px;
    display: block;
  }
}

footer {
  height: 120px;
  background-color: #4754EB;
  border-radius: 0 0 24px 24px;
  padding: 0 56px;
  justify-content: space-between;
}

.footer__authors {
  max-width: 192px;
}

.footer__authors-name {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
  margin-bottom: 3px;
}

.footer__authors-copyrights {
  color: #D9D9D9;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.footer__comeback {
  display: flex;
  gap: 8px;
}

.footer__comeback p {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: none;
}

.footer__comeback a {
  display: flex;
  gap: 5px;
}

.footer__comeback:hover {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  footer {
    padding: 0 21px 0 19px;
  }
  .footer__comeback-hide {
    display: none;
  }
}

body {
  background-color: #F2F2F2;
  margin-top: 24px;
  margin-bottom: 24px;
  margin: auto;
}

.container {
  max-width: 1392px;
  margin: auto;
}

.title {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: none;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: none;
}

@media screen and (max-width: 400px) {
  .container {
    max-width: 359px;
    margin: auto;
  }
  body {
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */