.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    background-color: $secondary-bg;
}

.benefits__main {
    display: grid;
    grid-template-columns: 437.3px 437.3px 437.3px;
    grid-template-rows: 40px 240px;
    column-gap: 16px;
    row-gap: 40px;
}

.benefits__main__title {
    grid-column: 1/-1;
    margin-left: 32px;
}

.benefits__main__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 20px 0px rgba(25, 25, 25, 0.05);
    backdrop-filter: blur(12px);
}

.benefits__main__card__title {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 80px 12px 16px;

    img {
        width: 56px;
    }
}

.benefits__main__card__title-p {
    @include text($text-color, $main-font, 24px, none, 500, 100%, none);
}

.benefits__main__card-secondary-p {
    @include text($secondary-color, $main-font, 18px, none, 400, 135%, none);
    margin: 0 24px;
}

@media screen and (max-width: 400px) {
    .benefits {
        width: 359px;
        height: 668px;
    }

    .benefits__main {
        grid-template-columns: 343px;
        grid-template-rows: 23px 168px 168px 168px;
        row-gap: 16px;
    }

    .benefits__main__title h3 {
        @include text($text-color, $main-font, 18px, none, 500, 125%, none);
        padding-bottom: 13px;
    }

    .benefits__main__card__title {
        padding-right: 60px;
        img {
            width: 36px;
        }
        p{
            @include text($text-color, $main-font, 18px, none, 500, 125%, none);
        }
    }
    .benefits__main__card-secondary-p{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .benefits__main__card{
        gap: 12px;
    }
}