
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$accent-color: #4754EB;
$secondary-color: #808080;
$text-color: #1A1A1A;
$small-color: #595959;
$main-bg: #F2F2F2;
$secondary-bg: #FFF;
$main-font: 'Poppins', sans-serif;